<nav class="navtop">
    <div>
        <h1>Website Title</h1>
        <a href="/"><i class="fas fa-home"></i>Home</a>
        <a href="/profile"><i class="fas fa-user-circle"></i>Profile</a>

        <!-- 로그아웃 post로 해야 해서 우선 임시적으로 해 놓음 -->
        <form action="/logout" method="post">
            <a><button class="fas fa-sign-out-alt">Logout</button><a/>
        </form>
    </div>
</nav>