<!DOCTYPE html>
<html>

  <!-- Head -->
  <%- include('./partials/head.ejs') %>

  <!-- login되었을 때, 메인 화면 -->
	<body class="loggedin">
    
    <!-- 네비게이션 bar -->
    <%- include('./partials/nav.ejs') %>

    <!-- 채팅 콘텐츠 -->
    <%- include('./partials/content.ejs') %>

	</body>
</html>